
.node-selected{
	fill: rgb(20,80,200);
	stroke: black;
	stroke-width: 2px;
}
.link {
    stroke: #0A112D;

}

.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

#viz{ 
    display:flex;
    flex-direction:row;
justify-content: center;

}

#filters{
padding: 5px 5px 10px 10px;
}
#diagram{
   position:absolute;
}
.newformat{
  font-family: 'Raleway', sans-serif;
  font-size:16px;
}
#networkViz{
padding: 5px 5px 10px 10px;
}